@model IEnumerable<TechProject.Models.Recruiter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="app-content">
    <div class="container">
        <h1 class="text-center">Applied List</h1>
        <br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Job Id
                    </th>
                    <th>
                        CV
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobId)
                    </td>
                    <td>
                        <p><a href="~/@item.Cv" target="_blank"> <span class="glyphicon glyphicon-folder-open"> Download</span></a></p>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Recruiters" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
</script>