@model IEnumerable<TechProject.Models.ContactPerson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="app-content">
    <div class="container">
        <h1 class="text-center">Contact Details</h1>
        <br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone No
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Message
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
